*{
    padding: 0;
    margin: 0;
}
.navbar{
/* background-color: black; */
padding: 20px;
/* background: linear-gradient(135deg, black, rgb(79, 78, 78)04); */
background:rgba(151, 147, 147, 0.425);
position: sticky;
top: 0;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;


}
nav img{
    border-radius: 50%;
    margin-right: 500px;
   
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 60%;
    color: rgb(255, 166, 0);
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:chocolate;
    transition: .5s all ease;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgba(240, 183, 78, 0.776);
    /* cursor: pointer; */
}
/* navbar is end */
/* start the main body */
.main{
    height: 90vh;
     background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}
.main h1{
    text-align: start;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    animation: up 2.5s linear;
}
.main img{
    height: 90vh;   
    width: 30%;
    
}
@keyframes up{
0%{
    transform:translateY(250px);
    opacity: 0;
}
40%{
    opacity: .2;
}
70%{
    opacity: .4;
}
100%{

    opacity: 1;
}
}
.main span{
    font-size: 50px;
    font-weight: 900;
    color: chocolate;
}







.services{
    padding: 50px;
    background-color: #fff;
}
.services h2{
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    text-align: center;
    color: black;
    font-weight: bolder;
}
.services p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ser-box{
    display: flex;
    margin-top: 100px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    transition: 1s all ease;
}
.ser-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px 20px;
}
.ser-box1-hover{
    transform: translateY(-20px);
    box-shadow: 10px 10px 20px rgb(207, 206, 206);

}
.ser-box1  .fa{
    font-size: 40px;
    color: gray;
padding: 40px 45px;
 
}
.ser-box1 h3{
    font-size: 30px;
    font-weight: lighter;
    font-family: initial;
    padding: 15px 0;
}
.ser-box1 p{
    font-family: cursive;
}
.ser-box1 button{
    padding: 5px 8px;
    font-size: 19px;
    font-weight: 100;
    margin-top: 20px;
}
.services{
    background-color: #fff;
    padding: 50px 0px;
}
.services h2{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  text-align: center;
}
.services p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.services p span{
    font-size: 24px;
    color: chocolate;
}
.box{
    display: flex;
    margin-top: 50px;
    gap: 20px;
   
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    transition: 1s all ease;
}
.box1:hover{
    transform: translateY(-20px);
    box-shadow: 20px 30px 30px rgb(56, 55, 55);
}
.box1 .fa{
    font-size: 45px;
    color: grey;
    padding: 40px 50px;
    border: 1px solid orange;
}
.box1 h3{
    font-size: 30px;
    font-weight: lighter;
    font-family: initial;
    padding: 15px 0px;
}
.box1 p{
    font-family: cursive;

}
.box1 button{
    padding: 5px 8px;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 100;
}





.pk{
    display: flex;
    margin-top: 30px;
    gap: 200px;
    background-color:black;
    background-image: url(./img/WhatsApp\ Image\ 2024-03-10\ at\ 03.12.21_643fc1cf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
    

.stp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    transition: 1s all ease;
}
.stp span{
    font-size: 70px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 0px;
    color: #f7f1f1;

}
.stp h4{
    color: #faf3f3;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.stp .fa{
    color: #f9f3f3;
    font-size: 40px;

}
.stp:hover{
    transform: translateY(-20px);
    box-shadow: 20px 20px  30px rgb(252, 200, 103);
}

.hellow h1{
    text-align: center;

}
.hellow p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 16px;
    flex-direction: column;
    margin-bottom: 50px;
    color: black;

}

/* suma */
 
.hellow{
    padding: 50px;
}

.suma a{
    margin: 20px;
    justify-content: center;
    padding: 50px 10px;
    margin-left: 150px;
    color: black;

    
}
.suma a:hover{
    color: chocolate;
}
.house{
    height: auto;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 30px 0;

}
.pic1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.pic1 img{
    background-color: rgb(122, 118, 118);
    width: 300px;
    height: 250px;
    background-color:gainsboro;

    
    

}

/* about */
.about{
    background-color: whitesmoke;
    padding: 50px;
    display: flex;
    gap: 50px;
}
.about h1{
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 20px;
    text-align: start;
}
.about p{
    line-height: 24px;
    font-family: cursive;
    text-align: start;


}
.about .about-one{
    width: 40%;
    padding: 20px;
}
.about .who{
    display: flex;
    margin-top: 50px;
}
.about .who h3{
    padding: 20px;
    border: 1px solid gray;
    border-bottom: none;
    font-weight: 100;
}
.about .who span{
    padding: 20px;
}
.about .who div{
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    align-items: end;
}
.about .what {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: end;

}
.about .what h2{
    font-size: 17px;
    font-weight: 100;
}
.percent h4{
    margin: 30px 0 150x 0;
    font-size: 24px;
    font-weight: 100;
}
.percent .percent-p{
    width: 100%;
    height: 16px;
    border-radius: 10px;
    background-color: rgb(216, 212, 212);
    margin-top: 15px;
}
.percent .percent-p .percent-c{
    height: 100%;
    width: 60%;
    border-radius: 10px;
    background-color: rgb(75, 74, 74);
}
.percent .percent-p .percent-c span{
    float: right;
    color: #f9f3f3;
    padding: 0 10px 0 0;
}
.percent{
    margin-top: 60px;
}
.percent .percent-p #sss{
    width: 40%;
}
.percent .percent-p #jjj{
    width: 90%;
}
.percent .percent-p #ppp{
    width: 20%;
}







.with h1{
    text-align: center;
}
.with p{
    text-align: center;
    margin-top: 20px;


}
.with .with2{
    gap: 80px;
    display: flex;
    margin-bottom: 50px;


}
.with2 img{
    margin-top: 70px;
    margin-left:80px;
}
.with{
    margin-top: 30px;
    margin-bottom: 20px;
}


.upcomming{
    padding: 50px 30px;
  background-color: #f9f3f3;
  z-index: 1;
  }
  .upcomming h2{
      color: black;
    text-align: center;
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
    }
  
  
    .upcomming p{
      text-align: center;
      margin-top: 20px;
      font-size: 20px;
      }
      .pak{
     display: flex;
  
      }
      .pak-1{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
     margin-top: 20px;
     padding: 20px 20px;
      }
      .pak-1 h3{
      font-size: 40px;
     font-weight: lighter;
     font-family: initial;
     padding: 1ch 30px;
    text-align: start;
      margin-top: 40px;
      color: black;
      }
      .pak-1 p{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: start;
     padding: 0px 30px;
     font-size: 20px;
      }
      .pak-1 a{
       padding:   8px  10px;
     font-size: 18px;
      font-weight: 100;
      margin-top: 20px;
     color: chocolate;
    border: 2px solid black;
     width: 30%;
     text-align: center;
     border-radius: 16px;
      }
      .pak-1 a:hover{
      color: orange;
     box-shadow: #fff;
    
      }



      /* footer */

footer {
    padding: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
  }
  
  footer .rupiza {
    padding: 10px;
    width: 300px;
  }
  footer .rupiza .rup {
    margin: 15px 0;
    display: flex;
    justify-content: start;
  }
  footer .rupiza .rup span {
    font-size: 40px;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
  }
  footer .rupiza .rup .fa {
    font-size: 40px;
    color: #fff;
  }
  
  footer .rupiza p {
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    line-height: 1.5em;
    padding: 20px 0;
  }
  footer .rupiza span {
    color: #fff;
    padding: 10px 0;
    font-family: "Courier New", Courier, monospace;
    line-height: 1.5em;
  }
  
  footer .rupiza button {
    background: transparent;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
    padding: 13px 21px;
    transition: 0.5s ease;
  }
  
  footer .rupiza button:hover {
    color: orange;
    border-color: orange;
  }
  
  
  footer .rup-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  footer .rup-img h3 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
  }
  
  footer .rup-img div {
    display: flex;
    gap: 10px;
  }
  footer .rup-img div img {
    width: 80px;
    height: 100px;
  }
  footer .rup-img div div {
    display: flex;
    flex-direction: column;
  }
  footer .rup-img div div h5 {
    color: #fff;
    font-size: 25px;
    font-weight: 100;
  }
  footer .rup-img div div span {
    color: #fff;
  }
  footer .rup-gallery {
    width: 280px;
  }
  footer .rup-gallery h3 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
  }
  footer .rup-gallery div {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
  }
  footer .rup-gallery div img {
    width: 80px;
  }


  *{
    margin-top: 0;
  }
  
     body {
      background-color: #f9;
    }
    .sun {
      max-width: 900px;
      margin: 0 auto;
    }
    
    .moon {
      max-width: 600px;
      padding: 20px;
      background-color: black;
      margin: 0 auto;
      margin-top: 50px;
      box-shadow: 4px 3px 5px  rgba(1, 1, 1, 0.1);
      border-radius: 10px;
      text-align: center;
    }
    .sun .moon h1{
        color: white;
    }
    
    .star {
      font-size: 20px;
    }
    
    .galaxy {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }
    .form_control {
      display: flex;
      flex-direction: column;
    }
    
    label {
      font-size: 15px;
      margin-bottom: 5px;
    }
    
    input,
    select,
    textarea {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 15px;
    }
    
    input:focus {
      outline-color:orange;
    }
    
    .button_container {
      display: flex;
    
      justify-content: flex-end;
      margin-top: 20px;
    }
    button {
      background-color: chocolate;
      border: transparent solid 2px;
      padding: 5px 10px;
      color: white;
      border-radius: 8px;
      transition: 0.3s ease-in;
    }
    button:hover {
      
      border: 2px solid orange;
      color: black;
      transition: 0.3s ease-out;
      cursor: pointer;
    }
    .textarea_control {
      grid-column: 1 / span 2;
    }
    .textarea_control textarea {
      width: 100%;
    }
    
    @media (max-width: 460px) {
      .textarea_control {
        grid-column: 1 / span 1;
      }
    } ;








    
